#groups-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--main-padding);
    padding-top: var(--menu-padding);
}

#groups-list li {
    width: 100%;
}

.groups-btn {
    margin-top: auto;
    margin-left: auto;
}

.groups-menu-confirm-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--main-padding);
}

.groups-confirm-btn-group {
    display: flex;
    flex-direction: row;
    gap: var(--main-padding);
}