@media(max-width: 500px) {
    .header-add-contact-btn {
        display: none;
    }

    .header-add-contact-btn.phone {
        display: flex;
    }

    .main-container {
        padding: var(--menu-padding) var(--main-padding);
    }

    .main-screen-wrapper {
        gap: 32px;
    }

    .contact-row {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--main-padding);
    }

    .contact-row-ui-wrapper {
        width: 100%;
    }

    .contact-phone {
        margin-right: auto;
    }
}