* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Circe';
    transition: all .2s ease-in-out;
}

html {
    font-size: var(--font-size);
}

body {
    background-color: #F6F7F9;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    height: 100%;
}

.icon-container {
    align-items: center;
    justify-content: center;
    gap: var(--main-padding);
    font-weight: bold;
    font-size: var(--bigger-font-size);

    color: var(--main-color);
    user-select: none;
}

.header {
    padding: 24px var(--main-padding);
    background-color: #FFFFFF;
    box-shadow: var(--box-shadow);
}

.header-container {
    justify-content: space-between;
}



/* BTN group */
.header-btn-group {
    display: flex;
    flex-direction: row;
    gap: var(--main-padding);
}

.header-add-contact-btn {
    background-color: var(--main-red-color);
    gap: var(--main-padding);
}

.header-add-contact-btn:hover {
    background-color: var(--secondary-red-color);
}